.demo {
    margin-top: 15px;
    margin-bottom: 15px;
}

#raceCar {
    height: auto;
    width: 100px;
    margin-top: 20px;
}

#buttonContainer {
    margin-top: 10px;
}

#buttonContainer button {
    display: inline-block;
    margin-right: 15px;
}

#carContainer {
    position: relative;
    height: 100px;
    width: 100%;
    z-index: 5;
}

#finishContainer {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: -100px;
    z-index: 1;
}

.horizontalTranslate {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    margin-left: 80% !important;
}

#finishLine {
    transform: rotate(90deg);
    width: 100px;
    float: right;
    margin-top: 40px;
    margin-right: 150px;
}

.js-and-css pre {
    width: 49%;
    display: inline-block;
    height: 180px;
}

.float-right {
    float: right;
}

.circle-demo {
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 20%;
    width: 50px;
    height: 50px;
    position: relative;
    background-color: lightblue;
    border: 1px solid black;

    transform: rotate(45deg) translate(150px) rotate(-45deg);
}

#circle2 {
    animation-name: orbit;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.clockwise {
    -webkit-animation: orbit 4s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit 4s linear infinite; /* Firefox 5-15 */
    -o-animation: orbit 4s linear infinite; /* Opera 12+ */
    animation: orbit 4s linear infinite;
}

.counterclockwise {
    -webkit-animation: orbitR 4s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: orbitR 4s linear infinite; /* Firefox 5-15 */
         -o-animation: orbitR 4s linear infinite; /* Opera 12+ */
            animation: orbitR 4s linear infinite;
}

@-webkit-keyframes orbit {
	from { 	-webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
@-moz-keyframes orbit {
	from { 	-moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
@-o-keyframes orbit {
	from { 	-o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
@keyframes orbit {
	from {  transform: rotate(360deg) translateX(150px) rotate(-360deg); }
	to   { 	transform: rotate(0deg) translateX(150px) rotate(0deg); }
}
@-webkit-keyframes orbitR {
	from {  -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
	to   { 	-webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
}
@-moz-keyframes orbitR {
	from {  -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
	to   { 	-moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
}
@-o-keyframes orbitR {
	from {  -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
	to   { 	-o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
}
@keyframes orbitR {
	from { 	transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

#demo2 {
    height: 400px;
    width: 100%;
    overflow: auto;
}

#demo3 {
    height: 400px;
    width: 100%;
    overflow: auto;
}

#demo3Buttons button {
    display: inline-block;
    margin-right: 15px;
}

pre {
    max-height: 400px;
    overflow-y: auto;
}

